{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'garpix_page/seo.html' %}
    {% include 'include/styles.html' %}
    {% include 'include/fonts.html' %}
    {% include 'include/scripts.html' %}
</head>
<body>

{% include 'include/header.html' %}

<main class="container">
    {% block content %}
    {% endblock %}
</main>




<script src="http://twitter.github.com/hogan.js/builds/3.0.1/hogan-3.0.1.js"></script>
{% include 'include/footer.html' %}
</body>
</html>

